.title-div {
    text-align: center;
    height: 125px;
    border: 1px solid lightgray;
    background-color: white
}

.ciao {
    font-size: 50px;
    font-weight: bold;
    margin-top: 15px;
}

.paragrafo {
    background-color: white;
    width: 69%;
    height: 300px;
    float: left;
    display: block;
}

.viola {
    width: 1%;
    height: 100%;
    background-color: lightseagreen;
    float: left;
    display: block;

}



.siamo {
    font-size: 45px;
    margin-left: 60px;
}

.lorem {
    font-size: 23px;
    margin-right: 20px;
    margin-left: 20px;
}

.paragrafo2 {
    background-color: white;
    width: 30%;
    height: 300px;
    float: left;
    display: block;
}

.img {
    text-align: center;
}

.fondo {
    margin-top: 5%;
}



.divgrande {
    margin-top: 30px;
    width: 100%;
    height: 300px;
}

.div1 {
    height: 30%;
}

.div2 {
    height: 70%;
}

.img {
    margin-top: 15%;
}