.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.cinghia {
    background-color: #262a2e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.cinghia:hover {
    background-color: #555;
}

.collapse {
    padding: 0 10px;

    overflow: scroll;
    transition: max-height 0s ease-out;

}

.example-viewport {
    height: 200px;
    width: 200px;
}

.example-item {
    height: 50px;
}

.mat-flat-button.mat-success {
    width: 35%;
    height: 50%;
    color: #f0fff3;
    background-color: lightseagreen;
}
.mat-flat-button.mat-success2 {
    width: 7%;
    height: 25%;
    text-align: center;
    margin-left: 40px;
    color: #f0fff3;
    background-color: lightseagreen;
}
.mat-flat-button.mat-mucca {
    width: 35%;
    height: 50%;
    color: #f0fff3;
    background-color: salmon;
}