<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div>
                
                <button class="cinghia" data-toggle="collapse" data-target="#demo2" aria-expanded="true">
                    <h2>Gestisci Anagrafica</h2>
                </button>

                <div id="demo2" style="overflow: auto;" class="collapse show">
                    <div class="row">
                        <div class="col-sm-4">
                            <br>
                            <h4>Tipo Di Corso:</h4>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [(ngModel)]="tipologia" [ngModelOptions]="{standalone: true}">
                                <mat-radio-button *ngFor=" let k of options.tipoCorso" [value]="k.id">
                                    {{ k.label }}
                                </mat-radio-button>
                            </mat-radio-group>

                            <br />
                            <!--STATO DEL CORSO-->
                            <h4>Stato Del Corso:</h4>
                            <div style="display: inline-flex;">
                                <mat-slide-toggle class="example-margin" [color]="" [checked]="" [disabled]=""
                                    [(ngModel)]="stato" [ngModelOptions]="{standalone: true}">
                                    &nbsp; &nbsp;
                                </mat-slide-toggle>
                                <h5 *ngIf="stato">Previsto</h5>
                                <h5 *ngIf="!stato">Erogato</h5>
                            </div>

                            <br> <br>
                            <h4>Durata Del Corso:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="Durata" [(ngModel)]="durata"
                                        [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                            </div>
                            <div style="display: inline-flex;">
                                <mat-slide-toggle class="example-margin" [color]="" [checked]="" [disabled]=""
                                    [(ngModel)]="misura" [ngModelOptions]="{standalone: true}">
                                    &nbsp; &nbsp;
                                </mat-slide-toggle>
                                <h5 *ngIf="misura">Giorni</h5>
                                <h5 *ngIf="!misura">Ore</h5>
                            </div>
                            <br> <br>
                            <h4>Luogo:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="Luogo" [(ngModel)]="luogo"
                                        [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                            </div>
                            <br /><br />
                            <h4>Edizione:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput placeholder="Edizione" [(ngModel)]="edizione"
                                        [ngModelOptions]="{standalone: true}" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <h4>Argomento:</h4>
                            <mat-form-field>
                                <mat-select [(ngModel)]="argomento">
                                    <input (keyup)=" filtraTipo($event.target.value)" />
                                    <mat-option (click)="selezionaArgomento(item.tipo)" *ngFor="let item of listaTipi"
                                        [value]="item.descrizione">{{
                                          item.descrizione
                                        }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <!--DATA INIZIO-->
                            <h4>Data Inizio:</h4>
                            <div>
                                <mat-form-field color="primary">
                                    <mat-label>Custom calendar color</mat-label>
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="dataI"
                                        [ngModelOptions]="{standalone: true}">
                                    <mat-datepicker-toggle matSuffix [for]=" picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 color="primary"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <br /><br />
                            <!--DATA FINE-->
                            <h4>Data Fine:</h4>
                            <div>
                                <mat-form-field color="primary">
                                    <mat-label>Custom calendar color</mat-label>
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="dataF"
                                        [ngModelOptions]="{standalone: true}" />
                                    <mat-datepicker-toggle matSuffix [for]=" picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <br>
                            <!--ENTE EROGATORE-->
                            <h4>Ente Erogatore:</h4>
                            <mat-form-field class="example-full-width">
                                <mat-label>Assignee</mat-label>
                                <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="docente"
                                    (keyup)="filtraDocente($event.target.value)">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let option of listaDocenti" [value]="docente">
                                        <p (click)="selezionaDocente(option.ragione_sociale, option.id)"
                                            *ngIf="tipoDocente == '1'">
                                            {{option.ragione_sociale}}, {{option.id}}</p>
                                        <p (click)="selezionaDocente(option.cognome, option.id)"
                                            *ngIf="tipoDocente == '0'">
                                            {{option.nome}}
                                            {{option.cognome}}, {{option.matricola}}</p>
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [(ngModel)]="tipoDocente" [ngModelOptions]="{standalone: true}">
                                <mat-radio-button (click)="selezionaTipoDocente()" value="0">
                                    Interno
                                </mat-radio-button>
                                <mat-radio-button (click)="selezionaTipoDocente()" value="1">
                                    Esterno
                                </mat-radio-button>
                            </mat-radio-group>
                            <br /><br />

                            <mat-form-field class="example-full-width">
                                <mat-label>
                                    <h4>Descrizione:</h4>
                                </mat-label>
                                <textarea matInput placeholder="Scrivi..." [(ngModel)]="descrizione"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <mat-form-field class="example-full-width">
                                <mat-label>
                                    <h4>Note:</h4>
                                </mat-label>
                                <textarea matInput placeholder="Scrivi..." [(ngModel)]="note"
                                    [ngModelOptions]="{standalone: true}"></textarea>
                            </mat-form-field>
                            <br>
                            <h5>
                                <mat-checkbox [(ngModel)]="interno" [ngModelOptions]="{standalone: true}">Corso Per
                                    Personale
                                    Interno
                                </mat-checkbox>
                            </h5>
                            <br> <br>
                            <!--BOTTONE CONFERMA-->
                            <div>
                                <button mat-flat-button color="success" (click)="conferma()">Conferma</button>
                            </div>
                            <br /><br />
                            <!--BOTTONE ANNULLA-->
                            <div>
                                <button mat-flat-button color="mucca" routerLink="/corsi/tutto">Annulla</button>
                            </div>
                        </div>
                    </div>
                </div>



                <br> <br>

                <button class="cinghia" data-toggle="collapse" data-target="#demo1">
                    <h2>Gestisci Alunni</h2>
                </button>
                <div id="demo1" style="overflow: auto;" class="collapse">
                    <tabella [lista]="item" [options]="tableOptions" style="display: flex; flex: 1;" [delete]="true"
                        [voto]="false" [edit]="false" (onDeleteEvent)="onDeleteHandler($event)">
                    </tabella>
                    <button mat-raised-button color="primary" (click)="addAlunno()">Aggiungi</button>
                    <!-- DA INSERIRE LA PAGINAZIONE -->
                    <!-- <div *ngIf="pages != null">
                      <app-page-selector [pages]="pages" (onClick)="aggiorna($event)">
                      </app-page-selector>
                    </div> -->
                </div>
                <!-- <input type="text" name="" id="" (keyup)="filtraAlunni($event.target.value)">
                <mat-form-field>
                    <mat-label>Alunni</mat-label>
                    <mat-select multiple #selettoreAlunni [(ngModel)]="alunni" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let option of listaDipendenti" [value]="option.id">{{option.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <h5>Alunni selezionati:</h5>
                <mat-checkbox *ngFor="let option of item" [(ngModel)]="option.selezione" (click)="clickAlunno(option)">
                    {{option.dipendente}}
                </mat-checkbox> <br> -->
                <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                    <div *cdkVirtualFor="let item of items" class="example-item">
                        <mat-checkbox>
                            {{item}}
                        </mat-checkbox>
                    </div>
                </cdk-virtual-scroll-viewport> -->
                <br> <br>

                <button class="cinghia" data-toggle="collapse" data-target="#demo3">
                    <h2>Voti</h2>
                </button>
                <div id="demo3" style="overflow: auto;" class="collapse">
                   <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">
                                <h4>Criterio:</h4>
                            </th>
                            <th scope="col">Voto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--1-->
                        <tr>

                            
                            <td>
                                <h5>Crescita Professionale</h5>
                            </td>
                            <td>
                                <input readonly  type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediacres" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                        <!--2-->
                        <tr>

                            
                            <td>
                                <h5>Lavoro Attuale</h5>
                            </td>
                            <td>
                                <input readonly  type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="medialav" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                         <!--3-->
                         <tr>

                            
                            <td>
                                <h5>Argomenti</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediaarg" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                        <!--4-->
                        <tr>

                            
                            <td>
                                <h5>Approfondimento</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediaapp" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                         <!--5-->
                         <tr>

                            
                            <td>
                                <h5>Durata</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediadur" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                         <!--6-->
                         <tr>

                            
                            <td>
                                <h5>Divisione Teoria/Pratica</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediadiv" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                        <!--7-->
                        <tr>

                            
                            <td>
                                <h5>Esercitazione</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediaese" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                        <!--8-->
                        <tr>

                            
                            <td>
                                <h5>Materiale Didattico</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediamat" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>

                         <!--9-->
                         <tr>

                            
                            <td>
                                <h5>Media Totale</h5>
                            </td>
                            <td>
                                <input readonly type="number" style=" width:60px; text-align: center;font-weight: bolder;"
                                    [(ngModel)]="mediacor" [ngModelOptions]="{standalone: true}">
                            </td>


                        </tr>







                    </tbody>


                   </table>
                
                   
                </div>

            </div>
        </div>
        <br>
        <div class="text-center">
            <button mat-flat-button color="success2" routerLink="/corsi/tutto">Indietro</button>
        </div>
        <br>
        
        </div>
    </div>