<div mat-dialog-content>
  <h3>{{ data.title }}</h3>

  <div class="row-2">
    <div class="col-sm-6">
      <div *ngFor="let j of data.options; let k of data.item">
        <label style="margin-top: 10px;">{{ j.label }}</label>
        <label>{{k.id}}</label>
      </div>
    </div>
    <br />
    <div class="col-sm-6"></div>
  </div>

  <br />

  <button class="btn btn-primary" [mat-dialog-close]="data">Ok</button>
</div>