<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h3>Info Dipendente</h3>
      <br />
      <div>
        <form [formGroup]="formgroup">
          <div class="row">
            <!--PRIMA COLONNA-->
            <div class="col-sm-4">
              <!--DURATA DEL CORSO-->
              <h4>Matricola:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="matricola" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
              <!--DURATA DEL CORSO-->
              <h4>Sesso:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="sesso" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
              <!--DURATA DEL CORSO-->
              <h4>Qualifica:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="qualifica" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
            </div>
            <!--SECONDA COLONNA-->
            <div class="col-sm-4">
              <!--DURATA DEL CORSO-->
              <h4>Nome:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="nome" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
              <!--DURATA DEL CORSO-->
              <h4>Società:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="societa" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
              <!--DURATA DEL CORSO-->
              <h4>Livello:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="livello" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
            </div>
            <!--TERZA COLONNA-->
            <div class="col-sm-4">
              <!--DURATA DEL CORSO-->
              <h4>Cognome:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="cognome" />
                </mat-form-field>
              </div>
              <br />
              <br />
              <br />
              <!--DURATA DEL CORSO-->
              <h4>Tipo Dipendente:</h4>
              <div>
                <mat-form-field appearance="fill">
                  <input readonly matInput formControlName="tipo_dipendente" />
                </mat-form-field>
              </div>
              <br />
              <br />

              <br />
              <br />
              <br />
              <!--BOTTONE INDIETRO-->
            </div>
          </div>
        </form>

        <app-info-user
          [listaAlunni]="listaAlunni"
          [listaDocenti]="listaDocenti"
          [listaCorsi]="listaCorsi"
          [docente]="isDocente"
          [corso]="true"
          [alunno]="true"
          [tableOptions]="tableOptions"
          [pageCorsi]="pageCorsi"
          [pageDocenti]="pageDocenti"
          [pageAlunni]="pageAlunni"
        ></app-info-user>
      </div>
    </div>
    <div class="text-center">
      <button mat-flat-button color="success2" routerLink="/dipendenti">
        Indietro
      </button>
    </div>
    <br />
  </div>
</div>
