<h1 mat-dialog-title>Aggiungi Alunni</h1>
<div mat-dialog-content>
    <p>Cerca e seleziona utenti:</p>
    <mat-form-field>
        <mat-label>Dipendente:</mat-label>
        <input matInput [(ngModel)]="dipendente">
    </mat-form-field>
    <button (click)="cerca()" mat-button>Cerca</button>

    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" *ngIf="items.length > 0">
        <div class="example-item" *ngFor="let item of items">
            <mat-checkbox [(ngModel)]="item.check" (change)="addRemove($event, item.id)">
                {{item.nome}} {{item.cognome}}, {{item.matricola}}
            </mat-checkbox>
        </div>
    </cdk-virtual-scroll-viewport>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annulla</button>
    <!-- <button mat-raised-button color="primary" (click)="ciccioBello()">test</button> -->
    <button mat-button [mat-dialog-close]="listaDipendenti" cdkFocusInitial>Aggiungi</button>
</div>