<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4>VALUTAZIONE CORSI</h4>
      <div class="card mt-3">
        <div class="card-body">
          <div class="container-fluid">
            <!--<div class="container">
              <div class="row">
                <div class="col-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Article Name</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">Media</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>-Valutazione 1</td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:50px" matInput placeholder="Media" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                      </tr>
                      <tr>
                        <td>-Valutazione 2</td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:50px" matInput placeholder="Media" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                      </tr>
                      <tr>
                        <td>-Valutazione 3</td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:30px;text-align:center" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                        <td>
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:50px" matInput placeholder="Media" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                      </tr>
                      <tr>
                        <td>-Valutazione media del corso X</td>
                        <td colspan="6">
                          <center>
                            <div style="width:50px">
                              <mat-form-field appearance="fill">
                                <input style=" width:70px" matInput placeholder="  Media" />
                              </mat-form-field>
                            </div>
                          </center>
                        </td>
                      </tr>
                      <tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>