<div class="row mb-2">
  <form class="form-inline">
    <select
      *ngIf="colsOption"
      class="browser-default custom-select mx-3"
      (input)="seleziona($event.target.value)"
    >
      <option *ngFor="let options of colsOption" [value]="options.name">{{
        options.label
      }}</option>
    </select>
    <input
      class="form-control"
      type="text"
      placeholder="Filtra"
      [(ngModel)]="value"
      (input)="azzera($event.target.value)"
      [ngModelOptions]="{ standalone: true }"
    />
    &nbsp;

    <button class="btn btn-primary" (click)="filtra()">
      Filtra
    </button>
  </form>
</div>
