<div *ngIf="!lista" class="row h-100 w-100 m-auto text-center">
  <h1 class="p-5 col">Loading..</h1>
</div>
<table class="table table-striped table-dark" *ngIf="lista">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th scope="col" *ngFor="let opt of options.colsOptions"><h3>
        {{ opt.label }}</h3>
      </th>
      <th *ngIf="delete"></th>
      <th *ngIf="edit"></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of lista; let i = index"
      [ngClass]="{ 'bg-primary text-white': selected[i] }"
      class="cursor"
    >
      <!--{{ item.id ? item.id : i + 1 }}-->
      <th (click)="select(i)">{{ lista.indexOf(item) + 1 }}</th>
      <td (click)="select(i)" scope="row" *ngFor="let k of options.colsOptions">
        {{ item[k.name] }}
      </td>
      <td *ngIf="delete">
        <button class="btn btn-danger" (click)="onDelete(item)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td *ngIf="info">
        <button class="btn btn-success" (click)="onInfo(item)">
          <i class="pi pi-info"></i>
        </button>
      </td>
      <td *ngIf="edit">
        <button class="btn btn-primary" (click)="onEdit(item)">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td *ngIf="voto">
        <button class="btn btn-light" (click)="onVoto(item)">
          <i class="fa fa-graduation-cap"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
