<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4>GESTIONE DIPENDENTI</h4>
      <div class="card mt-3">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="row">
                  <app-filter
                    [colsOption]="keys"
                    class="px-3"
                    (onFilter)="filter($event)"
                  ></app-filter>
                </div>

                <tabella
                  [lista]="lista"
                  [options]="options"
                  style="display: flex; flex: 1;"
                  (selectRows)="select($event)"
                  [delete]="false"
                  [info]="true"
                  [edit]="false"
                  (onInfoEvent)="onInfoHandler($event)"
                >
                </tabella>
                <div *ngIf="pages != null">
                  <app-page-selector
                    [pages]="pages"
                    (onClick)="aggiorna($event)"
                  >
                  </app-page-selector>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
