.cinghia{
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .cinghia:hover {
  background-color: #555;
}

.collapse {
  padding: 0 10px;
  
  overflow: hidden;
  transition: max-height 0s ease-out;
  
}