<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <button class="cinghia" data-toggle="collapse" data-target="#demo2" aria-expanded="true">
                <h2>Gestisci Anagrafica</h2>
            </button>


            <div id="demo2" style="overflow: auto;" class="collapse show">
            <div>
                <form [formGroup]="formgroup">
                    <br>
                    <div class="row">
                        <!--PRIMA COLONNA-->
                        <div class="col-sm-4">


                            <!--DURATA DEL CORSO-->
                            <h4>Nome:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="nome" placeholder="Nome">
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <!--DURATA DEL CORSO-->
                            <h4>Cognome:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="cognome" placeholder="Cognome">
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <h4>Ragione Sociale:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="ragione_sociale" placeholder="Ragione Sociale">
                                </mat-form-field>
                            </div>

                        </div>
                        <!--SECONDA COLONNA-->
                        <div class="col-sm-4">

                            <!--DURATA DEL CORSO-->
                            <h4>Titolo:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="titolo" placeholder="Titolo">
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <!--DURATA DEL CORSO-->


                            <!--DURATA DEL CORSO-->
                            <h4>Telefono:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="telefono" placeholder="Telefono">
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <!--DURATA DEL CORSO-->
                            <h4>Fax:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="fax" placeholder="Fax">
                                </mat-form-field>
                            </div>
                        </div>
                        <!--TERZA COLONNA-->
                        <div class="col-sm-4">
                            <!--DURATA DEL CORSO-->
                            <h4>Paritia Iva:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="partita_iva" placeholder="Partita Iva">
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <!--DURATA DEL CORSO-->
                            <h4>Referente:</h4>
                            <div>
                                <mat-form-field appearance="fill">
                                    <input matInput formControlName="referente" placeholder="Referente">
                                </mat-form-field>
                            </div>
                            <br />
                            <br />
                            <br />
                            <!--BOTTONE CONFERMA-->
                            <div>
                                <button mat-flat-button color="success" (click)="conferma()">Conferma</button>
                            </div>
                            <br /><br />
                            <!--BOTTONE ANNULLA-->
                            <div>
                                <button mat-flat-button color="mucca" routerLink="/docenti">Annulla</button>
                            </div>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
            </div>
            <br> <br>

            <button class="cinghia" data-toggle="collapse" data-target="#demo3">
                <h2>Voti</h2>
            </button>
            <div id="demo3" style="overflow: auto;" class="collapse">
                <tabella [lista]="lista" [options]="options" style="display: flex; flex: 1;"
                [delete]="false" [info]="false" [voto]="false" [edit]="false"
                >
              </tabella>            
            </div>

        </div>

        <br>
    <div class="text-center">
        <button mat-flat-button color="success2" routerLink="/docenti">Indietro</button>
    </div>
    <br>
    </div>
    
    
    </div>
