<div mat-dialog-content>
  <h3>{{ data.title }}</h3>

  <div class="row-2">
    <div class="col-sm-6">
      <div *ngFor="let j of data.options">
        <label style="margin-top: 10px;">{{ j.label }}</label>
        <label *ngIf="data.title == 'Info Docente'">{{ item[j.name] }}</label>
        <input
          *ngIf="data.title == 'Nuovo Docente'"
          style="margin-top: 5px;"
          type="text"
          [(ngModel)]="data[j.name]"
        />
      </div>
    </div>
    <br />
    <div class="col-sm-6"></div>
  </div>

  <br />

  <button class="btn btn-primary" [mat-dialog-close]="data">Ok</button>
</div>
