<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <h4>DOCENTI INTERNI</h4>
        </div>
        <br>
        <div class="card mt-3">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <app-filter [colsOption]="filterOptions" class="px-3" (onFilter)="filter($event)">
                                </app-filter>
                            </div>
                            <div class="col px-0 rounded" style="overflow: auto;">
                                <tabella [lista]="docenti" [options]="tableOptions" style="display: flex; flex: 1;"
                                    [delete]="false" [info]="true" [voto]="false" [edit]="false"
                                    (onInfoEvent)="info($event)">
                                </tabella>
                                <div *ngIf="pages != null">
                                    <app-page-selector [pages]="pages" (onClick)="aggiorna($event)">
                                    </app-page-selector>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>