<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4>GESTIONE CORSI</h4>
      <div class="card mt-3">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="row">

                </div>
                <button class="cinghia" data-toggle="collapse" data-target="#demo1">
                  <h2>Corso di Aggiornamento</h2>
                </button>

                <div id="demo1" style="overflow: auto;" class="collapse">
                  <tabella [lista]="listaagg" [options]="tableOptions" style="display: flex; flex: 1;" [delete]="true"
                    [voto]="true" [edit]="true" (onDeleteEvent)="onDeleteHandler($event)" (onVotoEvent)="onVoto($event)"
                    (onEditEvent)="onEdit($event)">
                  </tabella>
                  <!-- DA INSERIRE LA PAGINAZIONE -->
                  <!-- <div *ngIf="pages != null">
                    <app-page-selector [pages]="pages" (onClick)="aggiorna($event)">
                    </app-page-selector>
                  </div> -->
                </div> <br> <br>

                <button class="cinghia" data-toggle="collapse" data-target="#demo2">
                  <h2>Corso di Ingresso</h2>
                </button>

                <div id="demo2" style="overflow: auto;" class="collapse">
                  <tabella [lista]="listaing" [options]="tableOptions" style="display: flex; flex: 1;" [delete]="true"
                    [voto]="true" [edit]="true" (onDeleteEvent)="onDeleteHandler($event)" (onVotoEvent)="onVoto($event)"
                    (onEditEvent)="onEdit($event)">
                  </tabella>

                </div> <br> <br>
                <button class="cinghia" data-toggle="collapse" data-target="#demo3">
                  <h2>Seminari</h2>
                </button>

                <div id="demo3" style="overflow: auto;" class="collapse">
                  <tabella [lista]="listasem" [options]="tableOptions" style="display: flex; flex: 1;" [delete]="true"
                    [voto]="true" [edit]="true" (onDeleteEvent)="onDeleteHandler($event)" (onVotoEvent)="onVoto($event)"
                    (onEditEvent)="onEdit($event)">
                  </tabella>
                </div>


                <div class="text-center">
                  <br>
                  <button class="btn btn-secondary" routerLink="/corsi/nuovo">
                    Aggiungi
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>