.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

.example-form {
    min-width: 150px;
    max-width: 500px
}

.example-full-width {
    width: 100%;
}


.mat-flat-button.mat-success {
    width: 50%;
    height: 75%;
    text-align: center;
    margin-left: 40px;
    color: #f0fff3;
    background-color: lightseagreen;
}


.cinghia {
    background-color: #262a2e;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.cinghia:hover {
    background-color: #555;
}

.collapse {
    padding: 0 10px;

    overflow: scroll;
    transition: max-height 0s ease-out;

}

.mat-flat-button.mat-success2 {
    width: 7%;
    height: 25%;
    text-align: center;
    margin-left: 40px;
    color: #f0fff3;
    background-color: lightseagreen;
}