<div>
  <div *ngIf="listaAlunni.length > 0">
    <button class="cinghia" data-toggle="collapse" data-target="#demo1">
      <h2>Voti da Alunno</h2>
    </button>
    <div id="demo1" style="overflow: auto;" class="collapse">
      <tabella
        [lista]="listaAlunni"
        [options]="tableOptions"
        style="display: flex; flex: 1;"
        [delete]="true"
        [info]="false"
        [voto]="false"
        [edit]="true"
      >
      </tabella>
    </div>
  </div>

  <br />

  <div *ngIf="listaDocenti.length > 0">
    <button class="cinghia" data-toggle="collapse" data-target="#demo2">
      <h2>Voti da Docente</h2>
    </button>
    <div id="demo2" style="overflow: auto;" class="collapse">
      <tabella
        [lista]="listaDocenti"
        [options]="tableOptions"
        style="display: flex; flex: 1;"
        [delete]="true"
        [info]="false"
        [voto]="false"
        [edit]="true"
      >
      </tabella>
    </div>
  </div>

  <br />

  <div *ngIf="listaCorsi.length > 0">
    <button class="cinghia" data-toggle="collapse" data-target="#demo3">
      <h2>Corsi in svolgimento</h2>
    </button>
    <div id="demo3" style="overflow: auto;" class="collapse">
      <tabella
        [lista]="listaCorsi"
        [options]="tableOptions"
        style="display: flex; flex: 1;"
        [delete]="false"
        [info]="false"
        [voto]="false"
        [edit]="true"
      >
      </tabella>
    </div>
  </div>
</div>
