<div mat-dialog-content>
  <h3>{{ data.title }}</h3>

  <div>
    <p>{{ data.testo }}</p>
  </div>

  <br />

  <button
    [ngClass]="{
      'btn btn-outline-success': data.options[0].value == 'no',
      'btn btn-outline-danger': data.options[0].value == 'yes'
    }"
    [mat-dialog-close]="data.options[0].value"
  >
    {{ data.options[0].label }}
  </button>
  <button
    [ngClass]="{
      'btn btn-outline-danger': data.options[1].value == 'yes',
      'btn btn-outline-success': data.options[1].value == 'no'
    }"
    [mat-dialog-close]="data.options[1].value"
  >
    {{ data.options[1].label }}
  </button>
</div>
