.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px
    
  }
  
  .example-full-width {
    width: 100%;
  }
  
  
  .mat-flat-button.mat-success {
    width: 35%;
    height: 50%;
    color: #f0fff3;
    background-color: lightseagreen;
  }
  
  .mat-flat-button.mat-mucca
  {
    width: 35%;
    height: 50%;
    color: #f0fff3;
    background-color: salmon;
  }

  .generalita{
    height: 90px;
    width: 100%;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 5px 5px 5px 5px;
  }

  .gen{
    margin-top: 2%;
    margin-left: 2%;
    font-size: 22px;
    font-weight: bold;
    float:left; 
    display:block; 
  }

  .div-nome{
    margin-top: 1%;
    width: 10%;
    float:left; 
    display:block;
  }

  .bottoni{
    margin-left: 35%;
  }

  .bot{
    float: left;
    display: block;
  }

  