<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h2>Nuovo Docente</h2>
      <br />
      <form [formGroup]="formgroup">
      
      
        <div class="generalita">
          <p class="gen">GENERALITA':</p>

          <div class="div-nome" style="margin-left: 3%;">
            <mat-form-field appearance="fill">
              <mat-label>NOME:</mat-label>
              <input  matInput formControlName="nome" placeholder="Nome">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>COGNOME:</mat-label>
              <input matInput formControlName="cognome" placeholder="Cognome">
            </mat-form-field>
          </div>


          <div style="clear:both;"></div>
        </div><!---->

        <br />
        <br />
      
        <div class="generalita">
          <p class="gen">RESIDENZA:</p>

          <div class="div-nome" style="margin-left: 3%;">
            <mat-form-field appearance="fill">
              <mat-label>INDIRIZZO:</mat-label>
              <input matInput formControlName="indirizzo" placeholder="Indirizzo">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>LOCALITA':</mat-label>
              <input matInput formControlName="localita" placeholder="Localita">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>PROVINCIA:</mat-label>
              <input matInput formControlName="provincia" placeholder="Provincia">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>NAZIONE:</mat-label>
              <input matInput formControlName="nazione" placeholder="Nazione">
            </mat-form-field>
          </div>
          
          
          <div style="clear:both;"></div>
        </div>


        <br />
        <br />


        <div class="generalita">
          <p class="gen">REFERENZE:</p>

          <div class="div-nome" style="margin-left: 3%;">
            <mat-form-field appearance="fill">
              <mat-label>TELEFONO:</mat-label>
              <input matInput formControlName="telefono" placeholder="Telefono">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>FAX:</mat-label>
              <input matInput formControlName="fax" placeholder="Fax">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>PARTITA IVA:</mat-label>
              <input matInput formControlName="partita_iva" placeholder="Partita Iva">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>REFERENTE:</mat-label>
              <input matInput formControlName="referente" placeholder="Referente">
            </mat-form-field>
          </div>
  
          <div style="clear:both;"></div>
        </div>

        
        <br />
        <br />

        
        <div class="generalita">
          <p class="gen">INFORMAZIONI LAVORATIVE:</p>

          <div class="div-nome" style="margin-left: 3%;">
            <mat-form-field appearance="fill">
              <mat-label>TITOLO:</mat-label>
              <input matInput formControlName="titolo" placeholder="Titolo">
            </mat-form-field>
          </div>

          <div class="div-nome" style="margin-left: 10%;">
            <mat-form-field appearance="fill">
              <mat-label>RAGIONE SOCIALE:</mat-label>
              <input matInput formControlName="ragioneSociale" placeholder="Ragione Sociale">
            </mat-form-field>
          </div>

          

          <div style="clear:both;"></div>
        </div>

        
        <br />
        <br />


        <div class="bottoni">
          <!--BOTTONE CONFERMA-->
          <div>
            <button class="bot" style="width:20%;margin-right: 5%;" mat-flat-button color="success"  (click)="conferma()">Conferma</button>
          </div>

          <!--BOTTONE ANNULLA-->
          <div>
            <button class="bot" style="width:20%" mat-flat-button color="mucca" routerLink="/docenti">Annulla</button>
          </div>

          <div style="clear:both;"></div>
        </div>






      
        
          
        
     
    </form>
    </div>
  </div>
</div>