.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px
  
}

.example-full-width {
  width: 100%;
}


.mat-flat-button.mat-success {
  width: 35%;
  height: 50%;
  color: #f0fff3;
  background-color: lightseagreen;
}

.mat-flat-button.mat-mucca
{
  width: 35%;
  height: 50%;
  color: #f0fff3;
  background-color: salmon;
}




