<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h3>Nuovo Corso</h3>
      <br />
      <form action="" [formGroup]="formgroup">
        <div class="row">
          <!--PRIMA COLONNA-->
          <div class="col-sm-4">
            <div>
              <!--TIPOLOGIA DI CORSO-->
              <h4>Tipo Di Corso:</h4>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="tipologia" [ngModelOptions]="{standalone: true}">
                <mat-radio-button *ngFor=" let k of options.tipoCorso" [value]="k.id">
                  {{ k.label }}
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <br />
            <!--STATO DEL CORSO-->
            <h4>Stato Del Corso:</h4>
            <div style="display: inline-flex;">
              <mat-slide-toggle class="example-margin" [color]="" [checked]="" [disabled]="" (click)="cliccatoStato()">
                &nbsp; &nbsp;
              </mat-slide-toggle>
              <h5 *ngIf="statoCorso">Previsto</h5>
              <h5 *ngIf="!statoCorso">Erogato</h5>
            </div>
            <br /><br /><br /><br />
            <!--DURATA DEL CORSO-->
            <h4>Durata Del Corso:</h4>
            <div>
              <mat-form-field appearance="fill">
                <input matInput placeholder="Durata" formControlName="durata" />
              </mat-form-field>
            </div>
            <div style="display: inline-flex;">
              <mat-slide-toggle class="example-margin" [color]="" [checked]="" [disabled]="" (click)="cliccatoDurata()">
                &nbsp; &nbsp;
              </mat-slide-toggle>
              <h5 *ngIf="statoDurata">Giorni</h5>
              <h5 *ngIf="!statoDurata">Ore</h5>
            </div>
            <br /><br /><br />
            <!--LUOGO-->
            <h4>Luogo:</h4>
            <div>
              <mat-form-field appearance="fill">
                <input matInput placeholder="Luogo" formControlName="luogo" />
              </mat-form-field>
            </div>
            <br /><br />
            <!--EDIZIONE-->
            <h4>Edizione:</h4>
            <div>
              <mat-form-field appearance="fill">
                <input matInput placeholder="Edizione" formControlName="edizione" />
              </mat-form-field>
            </div>
          </div>
          <!--SECONDA COLONNA-->
          <div class="col-sm-4">
            <!--ARGOMENTO-->
            <h4>Argomento:</h4>
            <mat-form-field>
              <mat-select>
                <input (keyup)=" filtraTipo($event.target.value)" />
                <mat-option (click)="selezionaArgomento(item.tipo)" *ngFor="let item of listaTipi"
                  [value]="item.descrizione">{{
                  item.descrizione
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <br /><br /><br />
            <!--DATA INIZIO-->
            <h4>Data Inizio:</h4>
            <div>
              <mat-form-field color="primary">
                <mat-label>Custom calendar color</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="dataI" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]=" picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1 color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            <br /><br />
            <!--DATA FINE-->
            <h4>Data Fine:</h4>
            <div>
              <mat-form-field color="primary">
                <mat-label>Custom calendar color</mat-label>
                <input matInput [matDatepicker]="picker2" [(ngModel)]="dataF" [ngModelOptions]="{standalone: true}" />
                <mat-datepicker-toggle matSuffix [for]=" picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            <br /><br /><br /><br />
            <!--ENTE EROGATORE-->
            <h4>Ente Erogatore:</h4>
            <mat-form-field class="example-full-width">
              <mat-label>Assignee</mat-label>
              <input type="text" matInput [matAutocomplete]="auto" (keyup)="filtraDocente($event.target.value)">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of listaDocenti" [value]="selezioneDocente"
                  (click)="selezionaDocente(option.id)">
                  <p (click)="selezionaDocente(option.ragione_sociale)" *ngIf="tipoDocente == 'esterno'">
                    {{option.ragione_sociale}}, {{option.id}}</p>
                  <p (click)="selezionaDocente(option.cognome)" *ngIf="tipoDocente == 'interno'">{{option.nome}}
                    {{option.cognome}}, {{option.matricola}}</p>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
              [(ngModel)]="tipoDocente" [ngModelOptions]="{standalone: true}">
              <mat-radio-button value="interno">
                Interno
              </mat-radio-button>
              <mat-radio-button value="esterno">
                Esterno
              </mat-radio-button>
            </mat-radio-group>
            <br /><br />
            <!--DESCRIZIONE-->
            <mat-form-field class="example-full-width">
              <mat-label>
                <h4>Descrizione:</h4>
              </mat-label>
              <textarea matInput placeholder="Scrivi..." [(ngModel)]="descrizione"
                [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
          </div>
          <!--TERZA COLONNA-->
          <div class="col-sm-4">
            <!--NOTE-->
            <form class="example-form" style="width: 80%;">
              <mat-form-field class="example-full-width">
                <mat-label>
                  <h4>Note:</h4>
                </mat-label>
                <textarea matInput placeholder="Scrivi..." [(ngModel)]="note"
                  [ngModelOptions]="{standalone: true}"></textarea>
              </mat-form-field>
            </form>
            <br /><br />
            <!--CORSO PERSONALE PER INTERNO-->
            <h5>
              <mat-checkbox [(ngModel)]="interno" [ngModelOptions]="{standalone: true}">Corso Per Personale Interno
              </mat-checkbox>
            </h5>

            <br> <br>

            <div>
              <h4>Seleziona Alunni:</h4>
              <!-- <mat-form-field class="example-full-width" style="width: 400px;">
                <mat-label>Seleziona Alunni</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" (keyup)="filtraAlunni($event.target.value)">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-select multiple>
                    <mat-option *ngFor="let option of listaDipendenti" [value]="selezioneDocente">
                      {{option.nome}} {{option.cognome}}
                    </mat-option>
                  </mat-select>
                </mat-autocomplete>
              </mat-form-field> -->
              <input type="text" name="" id="" (keyup)="filtraAlunni($event.target.value)">
              <mat-form-field>
                <mat-label>Toppings</mat-label>
                <mat-select multiple #selettoreAlunni [(ngModel)]="alunniSelezionati"
                  [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let option of listaDipendenti" [value]="option.id">{{option.nome}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <br /><br /><br /><br /><br />
            <!--BOTTONE CONFERMA-->
            <div>
              <button mat-flat-button color="success" (click)="invia()">Conferma</button>
            </div>
            <br /><br />
            <!--BOTTONE ANNULLA-->
            <div>
              <button mat-flat-button color="mucca" routerLink="/corsi/tutto">Annulla</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>