<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <button class="cinghia" data-toggle="collapse" data-target="#demo1">
        <h4>VALUTAZIONE CORSO</h4>
      </button>
      <form [formGroup]="formCorso">
        <div id="demo1" style="overflow: auto;" class="collapse">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">
                  <h4>Valutazione Corso</h4>
                </th>
                <th scope="col">Non Applicabile</th>
                <th scope="col">Insufficiente</th>
                <th scope="col">Sufficiente</th>
                <th scope="col">Buono</th>
                <th scope="col">Molto Buono</th>
                <th scope="col">Media</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h5>Crescita Professionale</h5>
                </td>
                <td
                  *ngFor="
                    let x of optionCorso.crescita_professionale;
                    let i = index
                  "
                >
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.crescita_professionale[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediacres"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Lavoro Attuale</h5>
                </td>
                <td *ngFor="let x of optionCorso.lavoro_attuale; let i = index">
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.lavoro_attuale[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="medialav"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Argomenti</h5>
                </td>
                <td *ngFor="let x of optionCorso.argomenti; let i = index">
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.argomenti[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediaarg"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Approfondimenti</h5>
                </td>
                <td
                  *ngFor="let x of optionCorso.approfondimento; let i = index"
                >
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.approfondimento[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediaapp"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Durata</h5>
                </td>
                <td *ngFor="let x of optionCorso.durata; let i = index">
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.durata[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediadur"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Divisione Teoria Pratica</h5>
                </td>
                <td
                  *ngFor="
                    let x of optionCorso.divisione_teoria_pratica;
                    let i = index
                  "
                >
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.divisione_teoria_pratica[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediadiv"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Esercitazioni</h5>
                </td>
                <td *ngFor="let x of optionCorso.esercitazioni; let i = index">
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.esercitazioni[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediaese"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Materiale Didattico</h5>
                </td>
                <td
                  *ngFor="
                    let x of optionCorso.materiale_didattico;
                    let i = index
                  "
                >
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionCorso.materiale_didattico[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediamat"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <h5>Media Totale:</h5>
                </td>
                <td colspan="2">
                  <input
                    readonly
                    type="number"
                    style="
                      width: 100px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    class="form-control"
                    [(ngModel)]="mediacor"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder=""
                  />
                </td>

                <td colspan="2">
                  <button mat-flat-button color="success2" (click)="testCor()">
                    Valuta
                  </button>
                </td>
              </tr>
              <!--<tr>

                                <td>
                                    <h5>Utilità Corso per la crescita personale</h5>
                                </td>
                                <td><input type="number" style=" width:60px" class="form-control" formControlName="up1"
                                        placeholder=""></td>
                                <td><input type="number" style=" width:60px" class="form-control" formControlName="up2"
                                        placeholder=""></td>
                                <td><input type="number" style=" width:60px" class="form-control" formControlName="up3"
                                        placeholder=""></td>
                                <td><input type="number" style=" width:60px" class="form-control" formControlName="up4"
                                        placeholder=""></td>
                                <td><input type="number" style=" width:60px" class="form-control" formControlName="up5"
                                        placeholder=""></td>
                                <td><input readonly type="number"
                                        style=" width:60px; text-align: center;font-weight: bolder;"
                                        class="form-control" formControlName="mediautilp" placeholder=""></td>

                            </tr>-->
            </tbody>
          </table>
          <button
            *ngIf="idValCorso != null"
            class="btn btn-danger"
            (click)="elimina('corso')"
          >
            Elimina
          </button>
        </div>
      </form>
      <br />
      <br />
      <button class="cinghia" data-toggle="collapse" data-target="#demo2">
        <h4>VALUTAZIONE DOCENTE</h4>
      </button>
      <form [formGroup]="formDocente">
        <div id="demo2" style="overflow: auto;" class="collapse">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">
                  <h4>Valutazione Docente</h4>
                </th>

                <th scope="col">Non Applicabile</th>
                <th scope="col">Insufficiente</th>
                <th scope="col">Sufficiente</th>
                <th scope="col">Buono</th>
                <th scope="col">Molto Buono</th>
                <th scope="col">Media</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h5>Completezza</h5>
                </td>
                <td *ngFor="let x of optionDocente.completezza; let i = index">
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionDocente.completezza[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediacomp"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Esposizione</h5>
                </td>
                <td *ngFor="let x of optionDocente.chiarezza; let i = index">
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionDocente.chiarezza[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediachi"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Disponibilità</h5>
                </td>
                <td
                  *ngFor="let x of optionDocente.disponibilita; let i = index"
                >
                  <input
                    type="number"
                    style="width: 60px;"
                    [(ngModel)]="optionDocente.disponibilita[i]"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
                <td>
                  <input
                    type="number"
                    style="
                      width: 60px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    [(ngModel)]="mediadisp"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <h5>Media Totale:</h5>
                </td>
                <td colspan="2">
                  <input
                    readonly
                    type="number"
                    style="
                      width: 100px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    class="form-control"
                    [(ngModel)]="mediadoc"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder=""
                  />
                </td>

                <td colspan="2">
                  <button mat-flat-button color="success2" (click)="testDoc()">
                    Valuta
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            *ngIf="idValDocente != null"
            class="btn btn-danger"
            (click)="elimina('docente')"
          >
            Elimina
          </button>
          <br />
          <br />
        </div>
      </form>
      <br />
      <br />
      <button class="cinghia" data-toggle="collapse" data-target="#demo3">
        <h4>VALUTAZIONE DIPENDENTE</h4>
      </button>

      <div id="demo3" style="overflow: auto;" class="collapse">
        <h4>
          Nome Del Dipendente
        </h4>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="utentesel">
            <mat-option
              value="primary"
              *ngFor="let option of listautenti"
              [value]="option.dipendente"
              (click)="getUtenteVal(option.dipendente.id)"
            >
              {{ option.dipendente.nome }} {{ option.dipendente.cognome }} ,{{
                option.dipendente.matricola
              }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <form [formGroup]="formUtente">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">
                  <h4>Valutazione Dipendente</h4>
                </th>

                <th scope="col">Insufficiente</th>
                <th scope="col">Sufficiente</th>
                <th scope="col">Discreto</th>
                <th scope="col">Buono</th>
                <th scope="col">Ottimo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h5>Impegno</h5>
                </td>

                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto1"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="1"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto1"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="2"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto1"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="3"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto1"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="4"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto1"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="5"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>Logica</h5>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto2"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="1"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto2"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="2"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto2"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="3"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto2"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="4"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto2"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="5"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>
              <tr>
                <td>
                  <h5>Apprendimento</h5>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto3"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="1"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto3"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="2"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto3"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="3"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto3"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="4"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto3"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="5"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>Velocità</h5>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto4"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="1"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto4"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="2"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto4"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="3"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto4"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="4"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto4"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="5"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>

              <tr>
                <td>
                  <h5>Ordine e Precisione</h5>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto5"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="1"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto5"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="2"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto5"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="3"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto5"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="4"></mat-radio-button>
                  </mat-radio-group>
                </td>
                <td>
                  <mat-radio-group
                    class="example-radio-group"
                    [(ngModel)]="voto5"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <mat-radio-button [value]="5"></mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>

              <tr>
                <td colspan="3">
                  <h5>Media Totale:</h5>
                </td>
                <td colspan="2">
                  <input
                    readonly
                    type="number"
                    style="
                      width: 100px;
                      text-align: center;
                      font-weight: bolder;
                    "
                    class="form-control"
                    [(ngModel)]="mediadip"
                    [ngModelOptions]="{ standalone: true }"
                    placeholder=""
                  />
                </td>

                <td colspan="2">
                  <button
                    mat-flat-button
                    color="success2"
                    (click)="conferma3(voto1, voto2, voto3, voto4, voto5)"
                  >
                    Valuta
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <button
            *ngIf="idValAlunno != null"
            class="btn btn-danger"
            (click)="elimina('alunno')"
          >
            Elimina
          </button>
          <br />
          <br />
        </form>
      </div>
    </div>
    <br />
    <div class="text-center">
      <button mat-flat-button color="success" routerLink="/corsi/tutto">
        Indietro
      </button>
    </div>
    <br />
  </div>
</div>
