<!-- <div>
  <ul class="pagination">
    <li *ngFor="let item of pages">
      <a (click)="ciccio(item)">{{item}}</a>
      &nbsp;
    </li>
  </ul>
</div> -->

<!--  -->

<ul class="pagination">
  <li class="page-item">
    <a class="page-link" (click)="cicciopre()" style="cursor: pointer;">Precedente</a>
  </li>
  <li style="cursor: pointer;" class="page-item" *ngFor="let item of pages; let i = index"
    [ngClass]="{ 'active': selected[i] }">
    <a class="page-link" (click)="ciccio(0, item)">{{item}}</a>
  </li>
  <li class="page-item" style="cursor: pointer;">
    <a class="page-link" (click)="cicciosucc()">Successiva</a>
  </li>
</ul>