<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h4>GESTIONE DOCENTI</h4>
      <div class="card mt-3">
        <div class="card-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="row">
                  <app-filter [colsOption]="keys" class="px-3" (onFilter)="filter($event)"></app-filter>
                </div>
                <div class="col px-0 rounded" style="overflow: auto;">
                  <tabella [lista]="lista" [options]="options" style="display: flex; flex: 1;"
                    (selectRows)="select($event)" [delete]="true" [info]="false" [voto]="false" [edit]="true"
                    (onDeleteEvent)="onDeleteHandler($event)" (onEditEvent)="onEditHandler($event)">
                  </tabella>
                  <div *ngIf="pages != null">
                    <app-page-selector [pages]="pages" (onClick)="aggiorna($event)">
                    </app-page-selector>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex justify-content-center">
                <div class="text-center">
                  <button class="btn btn-secondary" routerLink="/docenti/nuovo">
                    Aggiungi
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>